/** ********** Fonts ********** **/
* {
    font-family: "CaskaydiaMono Nerd Font", "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 12px;
}

/** ********** Waybar Window ********** **/
window#waybar {
    background-color: #191724;
	color: #e0def4;
    border-bottom: 2px solid #403d52;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.5;
}

/** ********** Backlight ********** **/
#backlight {
	background-color: #c4a7e7;
}

/** ********** Battery ********** **/
#battery {
	background-color: #f6c177;
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #191724;
    }
}

#battery.critical:not(.charging) {
	background-color: #eb6f92;
    color: #e0def4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/** ********** Clock ********** **/
#clock {
	background-color: #31748f;
	color: #e0def4;
}

/** ********** CPU ********** **/
#cpu {
	background-color: #9ccfd8;
	color: #191724;
}

/** ********** Memory ********** **/
#memory {
	background-color: #eb6f92;
	color: #e0def4;
}

/** ********** Disk ********** **/
#disk {
	background-color: #c4a7e7;
	color: #191724;
}

/** ********** Tray ********** **/
#tray {
	background-color: #26233a;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	background-color: #9ccfd8;
	color: #191724;
}

#mpd.disconnected {
	background-color: #eb6f92;
	color: #e0def4;
}

#mpd.stopped {
	background-color: #ebbcba;
	color: #191724;
}

#mpd.playing {
	background-color: #31748f;
	color: #e0def4;
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/
#pulseaudio {
	background-color: #f6c177;
	color: #191724;
}

#pulseaudio.bluetooth {
	background-color: #ebbcba;
	color: #191724;
}
#pulseaudio.muted {
	background-color: #403d52;
	color: #908caa;
}

/** ********** Network ********** **/
#network {
	background-color: #31748f;
	color: #e0def4;
}

#network.disconnected,#network.disabled {
	background-color: #403d52;
	color: #908caa;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-menu, #custom-power, #custom-weather, #custom-updater {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	background-color: #ebbcba;
	color: #191724;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	background-color: #eb6f92;
	color: #e0def4;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 16px;
}

#custom-updater {
	background-color: #f6c177;
	color: #191724;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 12px;
}

#custom-weather {
	background-color: #c4a7e7;
	color: #191724;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 12px;
}

/** Common style **/
#backlight, 
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#pulseaudio,
#network {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}