layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="notities" cwd="~/notities" {
        pane
    }
    tab name="fuww" cwd="~/code/fuww" focus=true {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="about" cwd="~/code/fuww/about" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="deploy" cwd="~/code/fuww/deploy" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="developer" cwd="~/code/fuww/developer" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="frontend" cwd="~/code/fuww/frontend" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="api" cwd="~/code/fuww/api" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="prompts" cwd="~/code/fuww/prompts" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="jlnl" cwd="~/code/javdl/joostvanderlaan.nl" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="whisky" cwd="~/code/javdl/whisky" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="monitor" {
        pane command="btop"
    }
}
