layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="notities" cwd="~/notities" {
        pane
    }
    tab name="fuww" cwd="~/code/fuww" focus=true {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="fashionunited" cwd="~/code/fuww/fashionunited" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="deploy" cwd="~/code/fuww/fashionunited/infra/deploy" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="frontend" cwd="~/code/fuww/fashionunited/apps/frontend" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="api" cwd="~/code/fuww/fashionunited/apps/api" {
        pane split_direction="vertical" {
            pane
            pane
            pane
        }
    }
    tab name="monitor" {
        pane command="btop"
    }
}
